body {
    background-color: black;
    text-align:center;
}

img {
    border-width: 10px;
    border-style: solid;
    border-color: azure;
}

h1 {
    background-color: azure;
    color: black;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: -10px;
    width: 566px;
    text-align: center;
    margin-left:384px;
}

h2 {
    background-color: azure;
    color: black;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: 0px;
    width: 602px;
    text-align: center;
    margin-left:366px;
}

h3 {
    background-color: azure;
    color: black;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: -10px;
    width: 263px;
    text-align: center;
    margin-left: 535px;
}
video{
    border-width:10px;
    border-style:solid;
    border-color:azure;
}
h4{
    color:white;
    font-size:80px;
    font-variant:small-caps;
}
h5 {
    background-color: azure;
    color: black;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: -10px;
    width: 660px;
    text-align: center;
    margin-left:337px;
    margin-top:0px;
}
h3 {
    background-color: azure;
    color: black;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: -10px;
    width: 263px;
    text-align: center;
    margin-left: 535px;
}
#sp {
    border-width: 10px;
    border-style: solid;
    border-color: azure;
    width: 500px;
}